@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply bg-brand-50/50 text-brand-900;
  }

  ::selection {
    @apply bg-brand-200 text-brand-950;
  }
}

@layer utilities {
  .scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: theme("colors.brand.300") transparent;
  }
}
